doctype html
//
  Verti by HTML5 UP
  html5up.net | @ajlkn
  Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
head
  title Verti by HTML5 UP
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, user-scalable=no')
  link(rel='stylesheet' href='assets/css/main.css')
#page-wrapper
  // Header
  #header-wrapper
    header#header.container
      // Logo
      #logo
        h1
          a(href='index.html') Verti
        span by HTML5 UP
      // Nav
      nav#nav
        ul
          li
            a(href='index.html') Welcome
          li
            a(href='#') Dropdown
            ul
              li
                a(href='#') Lorem ipsum dolor
              li
                a(href='#') Magna phasellus
              li
                a(href='#') Phasellus consequat
                ul
                  li
                    a(href='#') Lorem ipsum dolor
                  li
                    a(href='#') Phasellus consequat
                  li
                    a(href='#') Magna phasellus
                  li
                    a(href='#') Etiam dolore nisl
              li
                a(href='#') Veroeros feugiat
          li
            a(href='left-sidebar.html') Left Sidebar
          li
            a(href='right-sidebar.html') Right Sidebar
          li.current
            a(href='no-sidebar.html') No Sidebar
  // Main
  #main-wrapper
    .container
      #content
        // Content
        article
          h2 No Sidebar
          p
            | Phasellus quam turpis, feugiat sit amet ornare in, hendrerit in lectus.
            | Praesent semper mod quis eget mi. Etiam eu ante risus. Aliquam erat volutpat.
            | Aliquam luctus et mattis lectus sit amet pulvinar. Nam turpis nisi
            | consequat etiam lorem ipsum dolor sit amet nullam.
          h3 More intriguing information
          p
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac quam risus, at tempus
            | justo. Sed dictum rutrum massa eu volutpat. Quisque vitae hendrerit sem. Pellentesque lorem felis,
            | ultricies a bibendum id, bibendum sit amet nisl. Mauris et lorem quam. Maecenas rutrum imperdiet
            | vulputate. Nulla quis nibh ipsum, sed egestas justo. Morbi ut ante mattis orci convallis tempor.
            | Etiam a lacus a lacus pharetra porttitor quis accumsan odio. Sed vel euismod nisi. Etiam convallis
            | rhoncus dui quis euismod. Maecenas lorem tellus, congue et condimentum ac, ullamcorper non sapien.
            | Donec sagittis massa et leo semper a scelerisque metus faucibus. Morbi congue mattis mi.
            | Phasellus sed nisl vitae risus tristique volutpat. Cras rutrum commodo luctus.
          p
            | Phasellus odio risus, faucibus et viverra vitae, eleifend ac purus. Praesent mattis, enim
            | quis hendrerit porttitor, sapien tortor viverra magna, sit amet rhoncus nisl lacus nec arcu.
            | Suspendisse laoreet metus ut metus imperdiet interdum aliquam justo tincidunt. Mauris dolor urna,
            | fringilla vel malesuada ac, dignissim eu mi. Praesent mollis massa ac nulla pretium pretium.
            | Maecenas tortor mauris, consectetur pellentesque dapibus eget, tincidunt vitae arcu.
            | Vestibulum purus augue, tincidunt sit amet iaculis id, porta eu purus.
  // Footer
  #footer-wrapper
    footer#footer.container
      .row
        .col-3.col-6-medium.col-12-small
          // Links
          section.widget.links
            h3 Random Stuff
            ul.style2
              li
                a(href='#') Etiam feugiat condimentum
              li
                a(href='#') Aliquam imperdiet suscipit odio
              li
                a(href='#') Sed porttitor cras in erat nec
              li
                a(href='#') Felis varius pellentesque potenti
              li
                a(href='#') Nullam scelerisque blandit leo
        .col-3.col-6-medium.col-12-small
          // Links
          section.widget.links
            h3 Random Stuff
            ul.style2
              li
                a(href='#') Etiam feugiat condimentum
              li
                a(href='#') Aliquam imperdiet suscipit odio
              li
                a(href='#') Sed porttitor cras in erat nec
              li
                a(href='#') Felis varius pellentesque potenti
              li
                a(href='#') Nullam scelerisque blandit leo
        .col-3.col-6-medium.col-12-small
          // Links
          section.widget.links
            h3 Random Stuff
            ul.style2
              li
                a(href='#') Etiam feugiat condimentum
              li
                a(href='#') Aliquam imperdiet suscipit odio
              li
                a(href='#') Sed porttitor cras in erat nec
              li
                a(href='#') Felis varius pellentesque potenti
              li
                a(href='#') Nullam scelerisque blandit leo
        .col-3.col-6-medium.col-12-small
          // Contact
          section.widget.contact
            h3 Contact Us
            ul
              li
                a.icon.fa-twitter(href='#')
                  span.label Twitter
              li
                a.icon.fa-facebook(href='#')
                  span.label Facebook
              li
                a.icon.fa-instagram(href='#')
                  span.label Instagram
              li
                a.icon.fa-dribbble(href='#')
                  span.label Dribbble
              li
                a.icon.fa-pinterest(href='#')
                  span.label Pinterest
            p
              | 1234 Fictional Road
              br
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Nashville, TN 00000
              br
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;(800) 555-0000
      .row
        .col-12
          #copyright
            ul.menu
              li &copy; Untitled. All rights reserved
              li
                | Design: 
                a(href='http://html5up.net') HTML5 UP
// Scripts
script(src='assets/js/jquery.min.js')
script(src='assets/js/jquery.dropotron.min.js')
script(src='assets/js/browser.min.js')
script(src='assets/js/breakpoints.min.js')
script(src='assets/js/util.js')
script(src='assets/js/main.js')

